@*@using Util.Webs.EasyUi;在View的Web.config里注册之后就不用在页面上引用了*@
@section head{
    <style type="text/css">
        .noscript {
            position: absolute;
            z-index: 100000;
            height: 2046px;
            top: 0px;
            left: 0px;
            width: 100%;
            background: white;
            text-align: center;
        }
        .footer {
            text-align: center;
            color: #15428B;
            margin: 0px;
            padding: 0px;
            line-height: 23px;
            font-weight: bold;
        }
        .ul_list, .accordion ul {
            list-style-type: none;
            margin: 0px;
            padding: 10px;
        }
        .ul_list li, .accordion ul li {
            padding: 0px;
            margin-left: 0px;
        }
        .ul_list li a, .accordion ul li a {
            line-height: 24px;
            cursor: pointer;
        }
        .ul_list li div, .accordion ul li div {
            margin: 2px 0px;
            padding-left: 10px;
            padding-top: 2px;
            border: 1px solid #fff;
        }
        .ul_list li.hover, .accordion ul li div.hover {
            border: 1px dashed #D69C00;
            background: #FFE88C;
            cursor: pointer;
        }
        .accordion ul li div.hover a {
            color: #D16C00;
            text-decoration: none;
        }
        .ul_list li.selected, .accordion ul li div.selected {
            border: 1px solid #D69C00;
            background: #FFE88C;
            cursor: default;
        }
        .ul_list li.selected a, a.accordion ul li div.selected a {
            color: #D16C00;
            font-weight: bold;
        }
        .ul_list li {
            border: 1px solid #fff;
            margin-bottom: 1px;
        }
    </style>
}
@section Scripts{
    <script src="~/Scripts/Projects/project.js"></script>
    <script type="text/javascript">
        $(function () {
            var $obj = $('#wnav');
            var panels = $obj.accordion('panels');
            $obj.accordion('select', panels[0].panel('options').title);

            $obj.find('li').click(function () {
                $obj.find('li div').removeClass("selected");
                $(this).children('div').addClass("selected");
            }).hover(function () {
                $(this).children('div').addClass("hover");
            }, function () {
                $(this).children('div').removeClass("hover");
            });
        });
    </script>
}
<body class="easyui-layout" fit="true" scroll="no">
<noscript>
    <div class="noscript">
        <img src="~/Css/images/noscript.gif" alt="抱歉，请开启脚本支持！"/>
    </div>
</noscript>
    @*全局的所有Dialogs集合地*@
    <div id="div_index_data"></div>
    @*@Html.Partial("Top")*@
    @Html.Action("LeftMenu")
    @Html.Partial("Center")
    @Html.Partial("Footer")
</body>


